

.row
    - button_disabled = { 'new' => true, 'show' => false }[controller.action_name]
    .col-md-12
        = button_tag :disabled => button_disabled, :id => 'execute', :class => 'btn btn-primary execute'
            | 実行

    .col-md-12
        = form_for @work do |f|

            | 入力
            = text_area_tag 'work[input]', @work.input, :size => '60x1', :class => 'form-control result', :autocapitalize => 'none'
                = @work.input

            | 結果
            = image_tag 'execute_loading.gif', :id => 'execute_loading', :style => 'visibility: hidden'
            span#execute_notice.notice_text = flash[:notice]
            = text_area_tag 'result', '', :size => '60x1', :class => 'form-control result', :autocapitalize => 'none'
        
            = text_area_tag 'work[content]', @work.content, :size => '60x60', :class => 'form-control content', :autocapitalize => 'none'
                = @work.content
            - if controller.action_name == 'new'
                = text_area_tag 'work[name]', @work.name, :size => '1x1', :class => 'form-control', :placeholder => '名前', :autocapitalize => 'none'
            = hidden_field_tag 'work[language]', @work[:language]
    
            - if controller.action_name == 'new'
                .actions = f.submit '保存', :disabled => button_disabled, :id => 'new_save', :class => 'btn btn-primary'

        / button要素をformの子にしてはならない。ブラウザ動作でリクエストが飛んでしまう
        - if controller.action_name == 'show'
            = button_tag :id => 'save', :class => 'btn btn-primary save'
               | 保存
            = image_tag 'save_loading.gif', :id => 'save_loading', :style => 'visibility: hidden'
            span#save_notice.notice_text

css:
    body {
        margin-bottom: 20px;
    }

    .execute {
        width: 100%;
    }

    .content {
        font-family: monospace;
    }

    .result {
        border: solid 1px;
        height: 30px;
        font-family: monospace;
    }

    .notice_text {
        color: #ff0000;
    }


opal:
    require 'opal-jquery'

    Document.ready? do
      # expand row of input area
      elem = Element['#work_input']
      elem.attr 'rows', elem.value.count("\n") + 1
    end

    Element['#work_input'].on :change do |evt|
      # expand row of input area
      elem = evt.element
      elem.attr 'rows', elem.value.count("\n") + 1
    end

    Element['.language-select-botton'].on :click do |evt|
      # change button kind (btn-default, btn-primary, ...)
      Element['.language-select-botton'].each do |elem|
        elem.remove_class('btn-primary')
      end
      evt.element.add_class('btn-primary')

      # save selected language to hidden
      Element['#work_language'].value = evt.element.id

      # enable execute/save button
      Element['#execute'].prop('disabled', false)
      Element['#new_save'].prop('disabled', false)

      # fill template code to content area
      templete = case evt.element.id
                 when 'c'  ; "#include <stdio.h>\n\nint main()\n{\n    printf(\"\");\n    return 0;\n}"
                 when 'go' ; "package main\nimport (\"fmt\")\n\nfunc main() {\n    fmt.Println(\"\")\n}"
                 else      ; ""
                 end
      content = Element['#work_content'].value 
      if content && content == ''
        Element['#work_content'].value = templete
      end
    end

    Element['#execute'].on :click do
      # visible loading image
      Element['#execute_loading'].css('visibility', 'visible')

      # execute, and get result
      input    = Element['#work_input'].value
      content  = Element['#work_content'].value
      language = Element['#work_language'].value

      data = {content: content, language: language, input: input}

      HTTP.post('/works/execute', payload: {work: data}) do |response|
        result = response.json[:result]
        notice = response.json[:notice]

        Element['#result'].text         = result
        Element['#execute_notice'].text = notice
        Element['#result'].attr 'rows', result.count("\n") + 1

        # visible loading image
        Element['#execute_loading'].css('visibility', 'hidden')
      end
    end

    Element['#save'].on :click do
      # visible loading image
      Element['#save_loading'].css('visibility', 'visible')

      # save on ajax
      input    = Element['#work_input'].value
      content  = Element['#work_content'].value
      language = Element['#work_language'].value

      data = {content: content, language: language, input: input}
      url  = Element[:form][:action]

      HTTP.put(url, payload: {work: data}) do |response|
        result = response.json[:result]
        notice = response.json[:notice]
        unless notice.empty?
          Element['#save_notice'].text = notice
        end

        # visible loading image
        Element['#save_loading'].css('visibility', 'hidden')
      end

    end


